<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">JDstore</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-colllapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("注册", "#") %></li>
      </ul>
    </div>
  </div>
</nav>
